.about{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top:10rem
}

.about-pic, .about-info{
    width:50%;
    height: 100%;
}

.portrait{
    width:60%;
    height:80%;
    box-shadow: 25px 25px 10px 0px rgba(232,231,240,1);
    border-radius: 100px;
}

.about-pic{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:3rem
}

.about-pic a button{
    margin-top:4rem;
    padding: 1rem 2rem;
    border: 0.2rem solid white;
    background:$base-color;
    border-radius: 10rem;
    color:$text-color;
}

.about-info{
    padding:0 3rem 5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info-p{
    background:$base-color;
    border-radius: 10rem;
    padding:4rem 3rem 4rem;
    text-align:center;
}

.info-p p{
    padding:1rem 0;
    font-size:1.2rem
}

