$base-color:rgb(59, 139, 192);
$text-color: rgb(255, 255, 255);
$background-color: rgb(0,0,0);



body{
  background: $background-color;
  position: relative;
}

html{
  color: $text-color;
}

canvas{
    position: absolute;
    top: 0;
    z-index:-10
  }

  #skills, #projects{
      padding:0 5rem
  }

  h3{
      font-size: 3rem;
      text-transform: uppercase;
      text-decoration: underline $text-color;
      background:$base-color;
      border-radius: 10rem;
      width:fit-content;
      padding:1rem 5rem;
      margin:2rem 0;
      text-align:center
  }