.landing{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
text-align:center;
background:$base-color;
padding:5rem 0;
border-radius: 10rem;
width:60%;
opacity:0.9;
}

.title:hover{
    border: 3px dotted $base-color;
	color: $base-color;
    background: rgba(0,0,0,0);
    transition: ease-in-out 0.3s;
}

h1{
font-size: 4rem;
}

h2{
font-size:2rem;
margin-top: 2rem
}