#projects{
    display:flex;
    flex-direction: column;
}

.qfp, .bingo, .willow{
    display:flex;
    flex-direction:row
}

h4{
    font-size:2.5rem;
    text-decoration: underline $base-color;
}

.laptop{
    width:75%;
    height:100%;
}

.phone{
    width:35%;
    height:45%;
    position: relative;
    right:5rem;
    top:8rem
}

.project-pics{
    display:flex;
    flex-direction: row;
}

.project-pics, .project-info{
    width:50%
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 8rem 0 1rem;
    }

.tools{
    margin:1rem 0  0;
    font-size:1.5rem;
    color:$base-color
}

.explanation{
    margin:1rem 0 2rem;
    font-size:1.2rem
}

.project-buttons button{
    font-size: 1.2rem;
    padding:1rem;
    border-radius:10rem;
    margin:0 1rem;
    background: $base-color;
    border:0.2rem solid white
}

.opposite{
    text-align: right;
}

.hp, .teamify{
    display:flex;
    flex-direction:row-reverse
}


