html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif, sans-serif;
}

body {
  background: black;
  position: relative;
}

html {
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -10;
}

#skills, #projects {
  padding: 0 5rem;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  background: #3b8bc0;
  border-radius: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 5rem;
  margin: 2rem 0;
  text-align: center;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-align: center;
  background: #3b8bc0;
  padding: 5rem 0;
  border-radius: 10rem;
  width: 60%;
  opacity: 0.9;
}

.title:hover {
  border: 3px dotted #3b8bc0;
  color: #3b8bc0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 25px;
  left: 25px;
  width: 95%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

#menuToggle a:hover {
  color: #3b8bc0;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  opacity: 0.9;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 3rem;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10rem;
}

.about-pic, .about-info {
  width: 50%;
  height: 100%;
}

.portrait {
  width: 60%;
  height: 80%;
  -webkit-box-shadow: 25px 25px 10px 0px #e8e7f0;
          box-shadow: 25px 25px 10px 0px #e8e7f0;
  border-radius: 100px;
}

.about-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

.about-pic a button {
  margin-top: 4rem;
  padding: 1rem 2rem;
  border: 0.2rem solid white;
  background: #3b8bc0;
  border-radius: 10rem;
  color: white;
}

.about-info {
  padding: 0 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-p {
  background: #3b8bc0;
  border-radius: 10rem;
  padding: 4rem 3rem 4rem;
  text-align: center;
}

.info-p p {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.skill {
  width: 20rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i {
  font-size: 6rem;
}

.skill i:hover {
  color: #3b8bc0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li p {
  text-align: center;
}

.knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qfp, .bingo, .willow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h4 {
  font-size: 2.5rem;
  -webkit-text-decoration: underline #3b8bc0;
          text-decoration: underline #3b8bc0;
}

.laptop {
  width: 75%;
  height: 100%;
}

.phone {
  width: 35%;
  height: 45%;
  position: relative;
  right: 5rem;
  top: 8rem;
}

.project-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-pics, .project-info {
  width: 50%;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8rem 0 1rem;
}

.tools {
  margin: 1rem 0  0;
  font-size: 1.5rem;
  color: #3b8bc0;
}

.explanation {
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
}

.project-buttons button {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  margin: 0 1rem;
  background: #3b8bc0;
  border: 0.2rem solid white;
}

.opposite {
  text-align: right;
}

.hp, .teamify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name, #email, textarea {
  width: 75%;
}

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 1rem;
  background: #3b8bc0;
  margin-bottom: 2rem;
  border-radius: 5rem;
}

form input, form textarea {
  margin: 0.5rem;
}

form .links a i {
  font-size: 3rem;
  padding: 0.2rem;
  color: white;
}

form .links a i:hover {
  color: #3b8bc0;
  background: white;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

form p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.send-email {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  margin: 1rem 0 2rem;
  background: white;
  border: none;
}

.copyright {
  text-align: center;
  font-size: 1rem;
}

form h3 {
  background: none;
}

@media (max-width: 1120px) {
  .skill {
    width: 15rem;
    height: 10rem;
  }
  .knowledge {
    margin: 5rem 0;
  }
}

@media (max-width: 1002px) {
  .portrait {
    width: 70%;
    height: 100%;
  }
  .about-pic {
    padding-top: 15rem;
  }
  .about-info {
    padding: 0 2rem 5rem 3rem;
  }
  .skill {
    width: 15rem;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-info {
    padding: 2rem 2rem;
  }
  .phone {
    right: 4rem;
    top: 6rem;
  }
  .project-buttons button {
    font-size: 1rem;
    padding: 0.7rem;
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 916px) {
  .phone {
    right: 3rem;
    top: 7rem;
  }
}

@media (max-width: 880px) {
  .skill {
    width: 8rem;
    height: 8rem;
  }
  i {
    font-size: 5rem;
  }
  #projects {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 750px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-pic, .about-info {
    width: 75%;
  }
  .landing {
    height: 65vh;
  }
  .about-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10rem;
  }
  h3 {
    margin-top: 5rem;
  }
  #skills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone {
    width: 40%;
    height: 40%;
    right: 3rem;
    top: 4rem;
  }
  .laptop {
    height: 75%;
  }
  form {
    width: 75%;
  }
}

@media (max-width: 641px) {
  #skills {
    padding: 3rem;
  }
  .title {
    margin-top: 10rem;
  }
  .project {
    display: block;
  }
  .project-info, .project-pics {
    width: 100%;
  }
  .project-info {
    padding: 0rem 2rem 2rem;
  }
}

@media (max-width: 481px) {
  .skill {
    width: 6rem;
    height: 6rem;
  }
  i {
    font-size: 3rem;
  }
  .info-p {
    padding: 2rem 0rem 2rem;
    border-radius: 3rem;
  }
  .about-info {
    padding: 0 0 5rem 0;
  }
  .info-p p {
    padding: 1rem 1rem;
  }
  h3 {
    font-size: 2rem;
    padding: 1rem 3rem;
  }
  .title {
    border-radius: 3rem;
    width: 100%;
    padding: 1rem;
  }
  .portrait {
    border-radius: 3rem;
  }
  form {
    width: 80%;
  }
  .phone {
    right: 2rem;
    top: 3rem;
  }
  .knowledge .skill i {
    color: #3b8bc0;
  }
  .about-pic a button {
    border-radius: 2rem;
  }
}

@media (max-width: 356px) {
  .project-buttons button {
    font-size: 0.95rem;
    padding: 0.21rem;
    border: 0.15rem solid white;
  }
}
